Repository hmcts/hmi-libra-dtu, pull requests merged in 2023-05, with the labels that each got.

#4 Setup java project
  Jenkinsfile_CNP
  build.gradle
  charts/hmi-libra-dtu/Chart.yaml
  charts/hmi-libra-dtu/values.dev.template.yaml
  charts/hmi-libra-dtu/values.preview.template.yaml
  charts/hmi-libra-dtu/values.stg.template.yaml
  charts/hmi-libra-dtu/values.yaml
  config/owasp/suppressions.xml
  config/pmd/ruleset.xml
  lib/applicationinsights.json
  lombok.config
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/TestClass.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/controllers/SampleFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmi/TestClass.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmi/controllers/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmi/openapi/OpenAPIPublisherTest.java
  src/main/java/uk/gov/hmcts/reform/hmi/Application.java
  src/main/java/uk/gov/hmcts/reform/hmi/config/AzureBlobConfiguration.java
  src/main/java/uk/gov/hmcts/reform/hmi/config/AzureBlobConfigurationProperties.java
  src/main/java/uk/gov/hmcts/reform/hmi/config/OpenAPIConfiguration.java
  src/main/java/uk/gov/hmcts/reform/hmi/config/WebClientConfiguration.java
  src/main/java/uk/gov/hmcts/reform/hmi/controllers/RootController.java
  src/main/java/uk/gov/hmcts/reform/hmi/runner/Runner.java
  src/main/java/uk/gov/hmcts/reform/hmi/service/AzureBlobService.java
  src/main/java/uk/gov/hmcts/reform/hmi/service/DistributionService.java
  src/main/java/uk/gov/hmcts/reform/hmi/service/ProcessingService.java
  src/main/resources/application.yaml
  src/smokeTest/java/uk/gov/hmcts/reform/hmi/TestClass.java
  src/smokeTest/java/uk/gov/hmcts/reform/hmi/controllers/SampleSmokeTest.java
  src/test/java/uk/gov/hmcts/reform/hmi/config/AzureBlobConfigurationTestConfiguration.java
  src/test/java/uk/gov/hmcts/reform/hmi/config/WebClientConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/hmi/runner/RunnerTest.java
  src/test/java/uk/gov/hmcts/reform/hmi/service/AzureBlobServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmi/service/DistributionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmi/service/ProcessingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/rsecheck/DemoUnitTest.java
  src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: ns:hmi, rel:hmi-libra-dtu-pr-4, prd:hmi

#6 updated secret name
  charts/hmi-libra-dtu/Chart.yaml
  charts/hmi-libra-dtu/values.yaml
Labels: ns:hmi, prd:hmi, rel:hmi-libra-dtu-pr-6

#7 Removed unneeded workflow
  .github/workflows/publish-openapi.yaml
Labels: ns:hmi, prd:hmi, rel:hmi-libra-dtu-pr-7

#5 HMIS-1173 Validate Libra Json file
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/hmi/Application.java
  src/main/java/uk/gov/hmcts/reform/hmi/config/ValidationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/hmi/runner/Runner.java
  src/main/java/uk/gov/hmcts/reform/hmi/service/ProcessingService.java
  src/main/java/uk/gov/hmcts/reform/hmi/service/ValidationService.java
  src/main/resources/application.yaml
  src/main/resources/schemas/libra-request.json
  src/test/java/uk/gov/hmcts/reform/hmi/runner/RunnerTest.java
  src/test/java/uk/gov/hmcts/reform/hmi/service/ProcessingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmi/service/ValidationServiceTest.java
  src/test/resources/mocks/invalidSchema.json
  src/test/resources/mocks/libraInvalidFile.json
  src/test/resources/mocks/libraValidFile.json
Labels: ns:hmi, prd:hmi, rel:hmi-libra-dtu-pr-5

#8 HMIS-1174 Update request to HMI APIM
  src/main/java/uk/gov/hmcts/reform/hmi/runner/Runner.java
  src/main/java/uk/gov/hmcts/reform/hmi/service/DistributionService.java
Labels: ns:hmi, prd:hmi, rel:hmi-libra-dtu-pr-8

#12 HMIS-117 Update to latest schema
  src/main/resources/schemas/libra-request.json
Labels: ns:hmi, prd:hmi, rel:hmi-libra-dtu-pr-12

#9 DTSPO-13810 reschedule nightlybuilds to start at 8am
  Jenkinsfile_nightly
Labels: ns:hmi, prd:hmi, rel:hmi-libra-dtu-pr-9
